* {
	outline: none;
}
h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	color: #000;
}
ul {
	padding: 0;
	list-style: none;
	margin-bottom: 0;
}
html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	width: 100%;
	-background: url(https://media.giphy.com/media/SwV0emFiUEv8Cphd7u/giphy.gif) no-repeat 50% bottom;
	-background-size: cover;
	-backdrop-filter: blur(25px);
	-background: linear-gradient(90deg, rgba(220,219,235,1) 30%, rgba(148,151,177,1) 100%);
	
	background: #DEE3E6;
	background: linear-gradient(90deg, rgba(229, 235, 240,1) 0%, rgba(222, 227, 230,1) 100%);
}

body.dark {
	background: #1F1F1F;
}



.hide {
	display: none;
}










/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out; 

	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1); 
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	transform: scale(1); 
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.7;
	backdrop-filter: blur(20px);
	background:#000;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}


/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;

	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}







/* Styles for dialog window */
.zoom-anim-dialog {
	padding: 30px;
	text-align: left;
	max-width: 1200px;
	margin: -100px auto 0;
	position: relative;
	border-radius: 20px;
	color: #ffffff;
	background: #000000;
}

.mfp-close-btn-in .mfp-close {
	top: 10px;
	right: 10px;
}

.skills__container {
	display: grid;
	grid-row: 3fr;
	grid-gap: 30px;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: auto;
	width: 100%;
}

#popup-skills img {
	max-width: 20px;
}

#popup-skills .title {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 16px;
}

#popup-skills .title img {
	margin-right: 10px;
}

#popup-skills .descr {
	color: #ffffffd4;
	font-size: 14px;
	
}

.item.html {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

.item.css {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.item.js {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}

.item.webpack {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}

.item.programs {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.item.other {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}

.item.environment {
	grid-column: 3 / 4;
	grid-row: 2 / 4;
}