.head-container {
	padding: 1rem;
	position: relative;
	background: linear-gradient(90deg, rgba(135,221,184,1) 0%, rgba(138,192,230,1) 33%, rgba(177,168,235,1) 66%, rgba(224,174,223,1) 100%);
	padding: 1px;
	margin: 20px 0;
	border-radius: 15px;
}

.head {
	display: flex;
	padding: 10px;
	position: relative;
	background: #0D1117;
	border-radius: 15px;
}

.head .container-img {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 15px;
	position: relative;
	border: 1px solid #8b949e;
	padding: 2px;

}

.head .container-img img {
	width: 100%;
	border-radius: 50%;
}

.head .text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 0;
}

.head .name {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
}

.head .specialty {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: rgb(0 0 0 / 70%);
}

.menu {
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 20px;
	box-shadow: #20232A 0px 0px 0px 1px inset;
	border-radius: 15px;
	margin-bottom: 20px;
}

.about-me__body {
	background: #fff;
	padding: 20px;
	border-radius: 20px;
	position: relative;
	margin-bottom: 15px;
	background: rgba(255 255 255 / 50%);
	display: none;
}

.cards{
	display: grid;
	grid-row: 3fr;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: auto;
	width: 100%;
}

.cards .card {
	flex: 1;
	border-radius: 15px;
	padding: 15px 7px;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	cursor: default;
	transition: .2s ease-out;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
}

.cards .card:hover {
	transform: scale(1.05);
}

.cards .card img {
	height: 30px;
	margin-bottom: 10px;
}

.card.html {
	background: linear-gradient(209.21deg, rgb(226, 78, 102) 13.57%, rgb(234, 101, 88) 98.38%);
}

.card.css {
	grid-column: 2 / 3;
	background: linear-gradient(209.21deg, rgb(75, 190, 255) 13.57%, rgb(33, 107, 218) 98.38%);
}

.card.js {
	grid-column: 3 / 4;
	background: linear-gradient(209.21deg, rgb(255, 215, 138) 13.57%, rgb(244, 118, 45) 98.38%);
}

.card.webpack {
	background: linear-gradient(209.21deg, rgb(65, 47, 175) 13.57%, rgb(81, 198, 234) 98.38%);
}

.card.programs {
	background: linear-gradient(209.21deg, rgb(23, 8, 110) 13.57%, rgb(193, 95, 148) 98.38%);
}

.card.devices {
	background: linear-gradient(209.21deg, rgb(0, 23, 45) 13.57%, rgb(41, 45, 87) 98.38%);
}

.cards .card.active {
	box-shadow: 0 0 0 2px #fff;
}





.about-me__links {
	 display: flex;
	 justify-content: center;
	 margin-bottom: 30px;
}

.about-me__links .link {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 38px;
	height: 38px;
	background: rgba(15, 14, 71, 0.3);
	box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset;
	border-radius: 14px;
	transition: .2s ease-out;
}

.about-me__links .link:hover {
	background: rgba(15, 14, 71, 0.5);
}

.about-me__links .link:not(:last-of-type) {
	margin-right: 10px;
}

.about-me__links .link img {
	max-width: 16px;
	max-height: 16px;
}

.btn-portfolio {
	background-color: #000;
    text-decoration: none;
    color: #fff;
    padding: 8px 20px;
    border-radius: 10px;
    transition: .2s ease-out;
    display: none;
    text-align: center;
}





.content-projects {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.content-projects .title {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 30px;
	color: #ffffff;
}

.filter {
	margin: 30px 0;
	display: flex;
	padding: 5px;
	border-radius: 15px;
	z-index: 1;

	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
	background-color: rgba(255,255,255,0.7);
	position: absolute;
}

.filter a {
	color: rgba(0 0 0 / 0.7);
	text-decoration: none;
	position: relative;
	transition: .2s ease-out;
	font-size: 16px;
	line-height: 1;
	border-radius: 10px;
	padding: 6px 10px;
	white-space: nowrap;
	will-change: transform;
}

.filter a span {
	color: #b4bec8;
	transition: .2s ease-out;
}

.filter a:not(:last-of-type) {
	margin-right: 5px;
}
.filter a:hover {
	color: #000;
}

.filter a:hover span {
	color: rgb(0 0 0 / 0.50);
}

.filter a:active {
	-webkit-transform: scale(0.95);
    transform: scale(0.95);
}

.filter a.active:active {
	-webkit-transform: none;
    transform: none;
}

.filter a.active {
	background: #fff;
	color: #000;

   box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 1px 0 rgba(0, 0, 0, 0.04);
}

.filter a.active span {
	color: rgb(0 0 0 / 0.50);
}

.popup {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #ffffff;
	padding: 30px;
	border-radius: 30px 30px 0 0;
	transition: .2s ease-out;
	z-index: 1;
	bottom: -100%;
}

.popup .banner {
	background: #000000;
	width: 100%;
	padding: 15px;
	border-radius: 15px;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 30px;
}

.popup .banner img {
	height: 30px;
	margin-bottom: 10px;
}

.popup .descr {
	font-size: 14px;
	line-height: 20px;
	color: #000000;
}

.projects__container {
	overflow-y: auto;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: max-content;
	gap: 15px;
	-webkit-mask-image: linear-gradient(rgb(255, 255, 255) 80%, rgba(255, 255, 255, 0) 100%);
	padding-top: 104px;
}

.projects__container::-webkit-scrollbar {
	width: 0px;
}

.project {
	border-radius: 15px;
	transition: .2s ease-out;
	display: block;
	text-decoration: none;
	background: rgba(255 255 255 / 50%);
	overflow: hidden;
	position: relative;
}

.project:hover {
	text-decoration: none;
}

.project.hide {
	display: none;
}

.project__container-img {
	display: block;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0 0 24px rgb(0 11 36/ 20%);
}

.project__container-img img {
	width: 100%;
	display: block;
}

.project > .tags {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	opacity: 0;
	transition: .2s ease-out;
	z-index: 2;
}

.project:hover > .tags {
	opacity: 1;
}

.project > .tags .tag {
	border-radius: 10px;
	width: 28px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(0 0 0 / 0.5);
	transition: .2s ease-out;
}

.project > .tags .tag:not(:last-of-type) {
	margin-right: 5px;
}

.project > .tags .tag img {
	max-height: 14px;
	max-width: 14px;
}

.project > .tags .tag:hover {
	background: #000000;
}

.project__info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 15px;
}

.project__title {
	color: #000;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-decoration: none;
}	

.project__descr {
	color: rgba(0, 0, 0, 0.7);
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	min-height: 42px;
	padding: 0 10px 10px;
	display: none;
}

.dark .project__descr {
	color: rgba(255, 255, 255, 0.7);
}

.project__info .right {
	display: flex;
	align-items: center;
}

.project__info .tags {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.project__info .tags i {
	margin-right: 5px;
}

.project__info img {
	height: 18px;
	max-height: 18px;
	display: flex;
}

.project__info img:not(:last-of-type) {
	margin-right: 5px;
}

.project__category {
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	display: inline-flex;
	border-radius: 5px;
	padding: 4px 10px;
	transition: .2s ease-out;
	color: #000;
	background: rgba(222, 227, 230,1);

	font-size: 10px;
	font-weight: bold;
	line-height: 1;
	border-radius: 3px;
	padding: 2px 3px;
	color: #fff;
	text-transform: uppercase;
	background: rgb(33 150 243 / 50%);
}

.project__category:hover {
	background: rgb(33 150 243 / 100%);
	cursor: default;
}

.page-html {
	display: none;
}

.left {
	display: flex;
	align-items: center;
}

.menu {
}

.menu > .title {
	color: #808191;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

.menu > .title:not(:first-child) {
	margin: 15px 0 10px;
}

.menu .link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 15px;
	text-decoration: none;
	transition: .2s ease-out;
	border-radius: 10px;
	background: #10151d;
	background: #0f131b;
	cursor: pointer;
}

.menu .link:not(:last-of-type) {
	margin-bottom: 5px;
}

.menu .link:hover,
.menu .link.active {
	background: #171e29;
   /* box-shadow: #8b949e 0 0 0 1px inset; */
}

.menu .link .icon {
	margin-right: 15px;
	display: flex;
}


.menu .link .title {
	color: #808191;
	transition: .2s ease-out;
	font-size: 14px;
}

.menu .link:hover .title,
.menu .link.active .title {
	color: #ffffff;
}

.menu .link .right {
	display: flex;
	align-items: center;
}

.menu .link .right span {
	color: #808191;
	font-size: 12px;
	background: #0d1117;
	padding: 2px 10px;
	border-radius: 20px;
}

.theme-dark {
	display: none;
}
.theme-light {
	display: block;
}

.about-me__resume {
	background: #FD7279;
	background: linear-gradient(90deg, rgba(253,114,121,1) 0%, rgba(163,107,233,1) 100%);
	border-radius: 20px;
	position: relative;
	overflow: hidden;
	padding: 20px;
	display: flex;
	margin-bottom: 20px;
	display: none;
}

.about-me__resume .text {
	margin-right: 20px;
}

.about-me__resume .title {
	color: #ffffff;
	margin-bottom: 30px;
	font-weight: bold;
}

.about-me__resume a {
	background: #ffffff;
	color: #000000;
	text-decoration: none;
	padding: 5px 15px;
	border-radius: 10px;
	display: inline-flex;
	align-items: center;
	transition: .2s ease-out;
}

.about-me__resume a:hover {
	background: #d8d8d8;
}

.about-me__resume a img {
	max-width: 15px;
	margin-left: 5px;
}

.about-me__resume .doc {
	width: 90px;
	height: 100px;
	background: #ffb9b9;
	display: block;
	border-radius: 10px;
	overflow: hidden;
	opacity: .7;
	transition: .2s ease-out;
}

.about-me__resume .doc img {
	max-width: 100%;
	transition: .2s ease-out;
	/* filter: blur(1px); */
}

/* .about-me__resume .doc:hover {
	opacity: 1;
} */

.work-experience {
	background: linear-gradient(90deg, rgba(135,221,184,1) 0%, rgba(138,192,230,1) 33%, rgba(177,168,235,1) 66%, rgba(224,174,223,1) 100%);
	padding: 15px;
	border-radius: 15px;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	display: none;
}

.work-experience .left {
	flex-direction: column;
	align-items: flex-start;
}

.work-experience .title {
	color: #000;
	font-size: 14px;
	margin-bottom: 5px;
}

.work-experience .date {
	font-weight: bold;
	font-size: 16px;
}

.work-experience .container-img {
	padding: 5px;
	background: #ffffff;
	display: flex;
	border-radius: 10px;
}

.work-experience .container-img img {
	height: 32px;
}

.content {
	display: none;
	height: 100vh;
}

.content.show {
	display: flex;
	flex-direction: column;
}

.content-head {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 15px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #0d1117;
}

.content-back {
	display: flex;
	justify-content: center;
}

.content .back {
	cursor: pointer;
	padding: 8px 15px;
	position: fixed;
	bottom: 20px;

	display: none;
	align-items: center;
	background: #262A34;
	border-radius: 10px;
	color: #ffffff;

}

.content .back img {
	-margin-right: 15px;
}

.content-head .title {
	color: #ffffff;
	text-align: center;
}

.content-body {
	padding: 15px;
	margin-top: 50px;
	overflow-y: auto;
}

.content-body .descr {
	color: #ddd;
}