/* 
	1.Header
	2.Hello
	3.Last projects
	4.Skills
	5.Portfolio
	6.Contact me
*/


/* 1.Header */

.header {
    padding: 20px 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: 0.1s;
}
.header.scroll {
    background: #111B24;
    box-shadow: 0px 5px 30px 0px #0C1217;
    padding: 8px 0;

}

.header__logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header .header__logo img {
	height: 42px;
}

.header.scroll .header__logo img {
	height: 25px;
}

.header__logo img {
	height: 42px;
}

.header__links {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.header__links li {
	margin: 8px 20px 10px 0;	
}
.header__links li:first-child {
	margin-left: 0;
}
    
.header__links li a {
	color: #768EA8;	
	text-transform: uppercase;
	font-size: 12px;
	font-family: "Lato", sans-serif;
	font-weight: 700;
	line-height: 1.66;
}

.header__links li a:hover,
.header__links li a.active  {
	color: #fff;
	transition: .2s;
}

.header-right {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.header__lang {
	margin: 0 20px;
	cursor: pointer;
}

.header__lang span {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: #FFFFFF;
	text-transform: uppercase;
    padding: 2px 8px;
    border-radius: 7px;

}

.header__lang span:hover {
	cursor: pointer;
}

.header__lang img {
	width: 10px;
	margin-left: -5px;
}

.header__lang .header__lang-box {
	display: none;
}
.header__lang.open .header__lang-box {
	display: block;
}

.header__lang-box {
    position: absolute;
}

.header__lang-box a {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
	padding: 2px 8px;
	border-radius: 7px;
}
.header__lang-box a:hover {
	background: rgba(255, 255, 255, 0.04);
}

.header__theme .checkbox {
	width: 30px;
	height: 16px;
	border-radius: 7px;
	background: rgba(118, 142, 168, 0.3);
	cursor: pointer;
	padding: 3px;
	position: relative;
	z-index: 1;
}

.header__theme .checkbox .checkbox_circle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #111B24;
}

.header__theme .checkbox:before,
.header__theme .checkbox:after {
	content: '';
	width: 5px;
	height: 5px;
	position: absolute;
	left: 5.5px;
	top: 5.5px;
	border-radius: 50%;
	background: #111B24;
	z-index: -1;
}

.header__theme .checkbox:after {
	background: #fff;
	left: inherit;
	right: 5.5px;
}

body.theme-light .header__theme .checkbox .checkbox_circle {
	margin-left: 14px;
	background: #fff;
	transition: .2s;
}

.header__menu {
	display: none;
	align-items: center;
	justify-content: flex-end;
}

.header__menu img {
	width: 30px;
}

/* 2.Hello */

#hello {
	height: 100vh;
	background: linear-gradient(
          rgba(17, 27, 36, 0.8), 
          rgba(17, 27, 36, 1)
        ),  url(../img/banner.jpg) no-repeat center top;
	background-size: 100%;
	display: flex;
	align-items: flex-end;
}



#hello h1 > span {
	color: #D0D9E1;
}

#hello .down-arrow img {
	margin: 0 auto;
    width: 30px;
    margin-top: 150px;
    display: flex;
    cursor: pointer;
    animation: moves 1s infinite linear;
}


/* 3.About */

.about__slider {
	max-height: 500px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0C1217;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 7px;
    box-shadow: 0px 50px 40px -20px #0C1217;
    position: relative;
    background: linear-gradient(228.03deg, rgba(17, 27, 36, 0.47) -25.18%, #111B24 134.91%);
}
.about__slider img {
	width: 100%;
}

.about__slider:hover {
	border: 1px solid rgba(255, 255, 255, 0.4);
	transition: .2s;
}

.about__slider-text:hover:after {
	color: #506E88;
	position: absolute;
	right: 25px;
	bottom: -25px;
	font-family: Lato;
    font-style: normal;
    font-weight: normal;
    content: 'Click photo to open gallery';
    transition: .2s;
}

.about__title {
	color: #fff;
	font-size: 36px;
    line-height: 1.25;
    font-weight: 700;
    font-family: "Lato", sans-serif;
}


.about__text {
	margin-bottom: 20px;
}

.about__text > a {
	color: #fff;
}

.about__contacts {
	margin-bottom: 30px;
}

.about__contacts p {
	margin-bottom: 10px;
}

.about__contacts p .span-title {
	font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    line-height: 1.66;
    min-width: 90px;
    display: inline-block;
}

.about__contacts p .span-icon {
	padding-right: 20px;
}

.about__contacts p .span-icon img {
	height: 19px;
}

.about__contacts p .span-title + a {
	color: #768EA8;
}

.about__contacts p .span-title + a:hover {
	transition: .2s;
}

#about .subtitle {
	margin-bottom: 20px;
}


/* 4.Projects */

.projects__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 30px;
}

.projects__link li {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 36px;
	color: #506E88;
	text-decoration: none;
}

.projects__link li:hover {
	color: #fff;
	transition: .2s;
	cursor: pointer;
}

.projects__link li.active {
	color: #fff;
	display: flex;
	align-items: center;
	cursor: default;
}

.projects__link li.active:after {
	content: '';
    height: 1px;
    width: 34px;
    margin-left: 34px;
    background: #fff;
}

#projects a.button {
	padding: 10px 25px;
}

/* Projects RightCol img */
.projects__img {
	height: 515px;
	overflow-y: scroll;
	background: #0C1217;
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-sizing: border-box;
	border-radius: 7px;
	box-shadow: 0px 50px 40px -20px #0C1217;
}
.projects__img:hover {
	border: 1px solid rgba(255, 255, 255, 0.4);
}
.projects__img img {
	width: 100%;
}

/* custom scroll */
.projects__img::-webkit-scrollbar-track
{
	border-radius: 7px;
}

.projects__img::-webkit-scrollbar
{
	width: 7px;
}

.projects__img::-webkit-scrollbar-thumb
{
	border-radius: 7px;
	background: rgba(61,65,69,1);
	background: -moz-linear-gradient(top, rgba(61,65,69,1) 0%, rgba(41,45,48,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(61,65,69,1)), color-stop(100%, rgba(41,45,48,1)));
	background: -webkit-linear-gradient(top, rgba(61,65,69,1) 0%, rgba(41,45,48,1) 100%);
	background: -o-linear-gradient(top, rgba(61,65,69,1) 0%, rgba(41,45,48,1) 100%);
	background: -ms-linear-gradient(top, rgba(61,65,69,1) 0%, rgba(41,45,48,1) 100%);
	background: linear-gradient(to bottom, rgba(61,65,69,1) 0%, rgba(41,45,48,1) 100%);
}


.projects-container-img {
	position: relative;
}

.projects-container-img:hover:after {
	color: #506E88;
	position: absolute;
	right: 25px;
	bottom: -25px;
	font-family: Lato;
    font-style: normal;
    font-weight: normal;
    content: 'click this photo to visit the site';
}


/* 3.Skills */

#skills .title,
#skills .subtitle {
	text-align: center;
}

.skill {
	margin-bottom: 80px;
}

.skill-top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	align-items: flex-end;
}

.skill-title {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #fff;
	text-align: center;
}

.skill-percent {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #6C91B1;
}

#myProgress {
	width: 200px;
	height: 5px;
	background: #2A4054;

}


#myBar {
	background: #4176FF;
    width: 0%;
    height: 100%;
    border-bottom: 5px dashed #4176FF;
}
.skill-scale {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.skill-scale_item {
	width: 4.7px;
	height: 5px;
	background: #2A4054;
	border-radius: 1px;
	margin-right: 2.35px
}

.skill-scale_item:last-child {
	margin-right: 0;
}

.skill-box.html .skill-scale_item:nth-child(-n+9),
.skill-box.css .skill-scale_item:nth-child(-n+8),
.skill-box.js .skill-scale_item:nth-child(-n+5),
.skill-box.bt .skill-scale_item:nth-child(-n+6) {
	background: #4176FF;
}
.skill-other {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.skill-box {
	padding: 16px 20px;
	border: 1px solid #6C91B1;
	margin-bottom: 30px;
	box-sizing: border-box;
	border-radius: 7px;
	margin-right: 20px;
}
.skill-box:hover {
	border: 1px solid #3E5871;
}
.skill-box .skill-title {
	font-weight: normal;
	font-size: 16px;
	color: #6C91B1;
	margin-bottom: 0;
}

#popup-contact-me {
	background: #111B24;
	max-width: 800px;
	margin: 0 auto;
	padding: 40px;
	border-radius: 7px;
	position: relative;
}
.popup-form {
	margin-bottom: 30px;
}
input,
textarea {
    font-size: 14px;
    font-family: "Lato", sans-serif;
    line-height: 1.4;

    height: 50px;
    width: 100%;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    padding: 0 20px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}
input:last-child {
	margin-bottom: 0;
}
textarea {
    height: 100%;
    padding: 15px 20px;
    resize: none;
    display: block;
    margin-bottom: 0;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
	box-shadow: 0px 0px 0px 3px #6C91B1;
}

.mfp-close-btn-in .mfp-close {
	color: #fff!important;
	position: absolute;
}




.milk-shadow {
 position: fixed;
 top:0; right:0; left:0;
 height: 0;
 background-color: #000;
 opacity: 0;
 -webkit-transition: opacity .5s;
 transition: opacity: .5s;
 z-index: 99
}

#menu.show ~ .milk-shadow {height: 100%; opacity: .3;}

#menu {
 position: fixed;
 background-color: #111B24;
 height: 100%;
 z-index: 99999;
 width: 50vw;
 color: #bbb;
 top: 0;
 right: 0;
 -webkit-transition: all 0.3s ease;
 -moz-transition: all 0.3s ease;
 transition: all 0.3s ease;
 opacity: 1;
 display: none;
 border-left: 1px solid #2E4153;
}

.show {
	display: block!important;
}

.menu-container {
	padding-top: 100px;
	padding-left: 30px;
}

.menu-container__links a {
	margin-bottom: 15px;
	display: block;
	max-width: 240px;
	font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
    color: #506E88;
    text-decoration: none;
}

.menu-container__links a:hover {
	color: #fff;
	text-decoration: none;
	margin-left: 2px;
	transition: .2s;
	transform: scale(1);
}

@keyframes moves {
from {transform: scale(1);}
50% {transform: scale(0.9);}
to {transform: scale(1);}
}


/* Light theme */

body.on {
	background: #fff;
}

.on .header.scroll {
	background: #fff;
	border-bottom: 1px solid #ddd;
	box-shadow: none;
}

.on li a:hover,
.on .header__links li a.active,
.on .projects__link li:hover,
.on .about__slider-text:hover:after,
.on .about__text > a {
	color: #000;
}

.on .about__slider,
.on .projects__img {
	box-shadow: 0px 20px 30px 0px #999999;
}
